@{
    ViewBag.Title = "Home Page";
}
<h2></h2>
<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Register Twitter User</div>
    <div class="panel-body">
        <div class="btn-group">
            This application requires to register your twitter user. @Html.ActionLink("Click here", "AddTwitterUser")  to start the process


        </div>
    </div>
</div>
        
