@model IList<string>


    
    <div class="panel-body">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Top 10 tweets</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tweet in Model)
                {
                    <tr>
                        <td>@tweet</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



